html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}

.destination-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.destination {
    background: #03a9f4;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0.5em;
    height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.destination:hover h2 {
    transform: rotate(0deg);
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 5px #2b13b3;
}

#header {
    border-color: midnightblue;
    background-color:paleturquoise;
    color: mediumvioletred;
}

#panama {
    background-color: #4dd0e1;
    size: 12px;
    color:palegreen
}

#italy {
    background-color: #ee1bcb;
    size: 12px;
}

#uae {
    background-color: #864de1;
    size: 12px;
}

#morocco {
    background-color: #17f717;
    size: 12px;
}

#hawai {
    background-color: yellow;
    size: 12px;
}

#newyork {
    background-color:salmon;
    size: 12px;
}

#switzerland {
    background-color:tomato;
    size: 12px;
}

#egypt {
    background-color:mediumvioletred;
    size: 12px;
}

